:root {
  --brand-color: #2196f3;
  --dark: rgba(33, 33, 33, 1);
  --gray: rgba(117, 117, 117, 1);
  --gray-svg: rgba(175, 177, 184, 1);
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  font-style: normal;
}

.link {
  text-decoration: none;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
}
.link:hover, .link:focus {
  color: var(--brand-color);
}

button {
  cursor: pointer;
  border: none;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--dark);
}

.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 1199.5px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo span {
  color: var(--brand-color);
}

.header-link {
  color: var(--dark);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
}

.line {
  border-bottom: 1px solid rgb(236, 236, 236);
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}
.mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu-btn__icon {
  fill: black;
}

@media screen and (max-width: 767.5px) {
  .header {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .header-tel, .header-mail, .header-nav {
    display: none;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn, .mobile-menu-btn {
    display: none;
  }
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header-logo {
    margin-right: 86px;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .header-list {
    display: flex;
    column-gap: 50px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    justify-content: center;
  }
  .header-link {
    color: var(--dark);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
  }
  .header__contacts {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    row-gap: 10px;
  }
  .header-mail, .header-tel {
    color: var(--gray);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
  .header-icon {
    fill: gray;
    transition: fill var(--transition-dur-and-func);
  }
  .header-mail:hover .header-icon, .header-tel:hover .header-icon, .header-mail:focus .header-icon, .header-tel:focus .header-icon {
    fill: var(--brand-color);
  }
  .header-list-item {
    display: flex;
    justify-content: center;
    overflow: visible;
    position: relative;
  }
  .current {
    color: var(--brand-color);
  }
  .current::after {
    content: "";
    position: absolute;
    display: flex;
    background-color: var(--brand-color);
    border-radius: 2px;
    height: 4px;
    width: 100%;
    margin-top: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .header-logo {
    margin-right: 92px;
  }
  .header-mail, .header-tel {
    font-size: 14px;
    line-height: 1.14;
    column-gap: 10px;
  }
  .header__contacts {
    flex-direction: row;
    column-gap: 30px;
    margin-left: auto;
  }
}
.social-list {
  display: flex;
  column-gap: 10px;
}
.social-list__link {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.social-list__icon {
  fill: var(--gray-svg);
  transition: fill var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: white;
}

.link.social-list__link:hover,
.link.social-list__link:focus {
  background-color: var(--brand-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(47, 48, 58);
}
.footer .footer-container {
  display: flex;
  row-gap: 60px;
}
.footer .footer-contacts {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer .footer-social {
  align-items: center;
  text-align: center;
}
.footer .address {
  text-align: center;
  row-gap: 9px;
}
.footer-list-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-social {
  color: white;
}
.footer-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: white;
}
.footer-social-list {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.footer-social-icon {
  fill: white;
}
.footer-social-link {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--brand-color);
}
.footer-logo span {
  color: var(--brand-color);
}
.footer__form {
  display: flex;
}
.footer-form-input {
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgb(47, 48, 58);
  color: white;
  padding-left: 15px;
}
.footer-form-input:hover {
  cursor: pointer;
}
.footer-form-btn {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
  padding: 10px 28px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}
.footer-link-address, .footer-logo {
  color: rgb(255, 255, 255);
}
.footer .address {
  font-size: 14px;
  line-height: 1.71;
  display: flex;
  flex-direction: column;
}

.icon-telegram {
  fill: white;
}

@media screen and (max-width: 1199.5px) {
  .footer-form-input {
    width: 100%;
  }
  .footer-form {
    flex-direction: row;
    margin: 0 auto;
  }
  .footer-contacts {
    align-items: center;
  }
  .footer-form-input {
    width: 100%;
  }
  .footer-form-btn {
    margin: 0 auto;
  }
  .footer__form {
    flex-direction: column;
    row-gap: 20px;
  }
  .footer-title {
    text-align: center;
  }
  .footer-form {
    width: 450px;
  }
}
@media screen and (max-width: 767.5px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-contacts {
    align-items: center;
  }
  .footer-form {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    row-gap: 60px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: inherit;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-form {
    margin-left: auto;
    margin-top: 12px;
  }
  .footer-contacts {
    align-items: flex-start;
    text-align: left;
  }
  .address {
    text-align: left;
  }
  .footer-list {
    text-align: left;
  }
  .footer-form-input {
    width: 358px;
  }
  .footer__form {
    flex-direction: row;
    column-gap: 12px;
  }
  .footer-form-btn {
    margin: inherit;
  }
  .footer-social {
    margin-top: 12px;
    margin-left: 70px;
  }
  .footer-social-list {
    flex-wrap: nowrap;
  }
  .footer-title {
    text-align: start;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: var(--transition-dur-and-func);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--transition-dur-and-func);
  padding: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__icon-close {
  fill: black;
  width: 18px;
  height: 18px;
  transition: fill var(--brand-color);
}
.modal__close-btn:hover .modal__icon-close {
  fill: var(--brand-color);
}

@media screen and (max-width: 1199.5px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (max-width: 479.5px) {
  .modal {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 582px;
  }
}
.modal-caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--dark);
}

.modal-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.modal-form-field-desc {
  display: block;
  font-size: 12px;
  color: var(--gray);
  margin-bottom: 4px;
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 6px;
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--brand-color);
}
.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 6px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--brand-color);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  background-color: transparent;
  transition: background-color var(--transition-dur-and-func);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--brand-color);
}
.modal-form-check-wrapper {
  display: flex;
  align-items: center;
  color: var(--gray);
  margin: 0 auto;
  margin-bottom: 20px;
}
.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 6px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--brand-color);
}
.modal-form-input, .modal-form-message {
  cursor: pointer;
}
.modal-form-own-check {
  border: 2px solid var(--dark);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}
.modal-form-check:checked + .modal-form-own-check {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
}
.modal-form-own-check-icon {
  display: none;
  fill: #ffffff;
}
.modal-form-check:checked + .modal-form-own-check .modal-form-own-check-icon {
  display: block;
}
.modal-form-btn {
  margin: 0 auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  background: #2196f3;
  border-radius: 4px;
  border: none;
  background-color: var(--brand-color);
  transition: box-shadow var(--transition-dur-and-func);
}
.modal-form-btn:hover, .modal-form-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.policy-link {
  color: var(--brand-color);
}

@media screen and (max-width: 1199.5px) {
  .modal-form-check-wrapper {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
  .modal-form {
    width: 100%;
  }
}
@media screen and (max-width: 444px) {
  .modal-form-check-wrapper {
    display: block;
    margin-bottom: 14px;
  }
  .policy-link {
    display: block;
  }
}
@media screen and (max-width: 300px) {
  .modal-form-message {
    margin-bottom: 0;
  }
  .modal-form-check-wrapper {
    display: block;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form-check-wrapper {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  max-height: 796px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu__container {
  position: relative;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
.mobile-menu__close-icon {
  fill: black;
  transition: fiilvar(--transition-dur-and-func);
}
.mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
  fill: var(--brand-color);
}
.mobile-menu__list-item-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-menu__list-item-link:hover, .mobile-menu__list-item-link:focus {
  color: var(--brand-color);
}
.mobile-menu__list-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__contacts-container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.mobile-menu__social-list {
  margin-top: 32px;
  display: flex;
  column-gap: 10px;
}
.mobile-menu__social-list-item:not(:last-child)::after {
  content: "";
  margin-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__social-link {
  color: var(--brand-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.12;
  letter-spacing: 0.02em;
}

.mobile-header-tel {
  color: var(--brand-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-header-mail {
  color: var(--gray);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.hero {
  width: 100%;
  background-color: rgb(47, 48, 58);
  padding: 118px 0;
}
.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  color: #FFFFFF;
}
.hero-btn {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
  background-color: var(--brand-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
}
.hero-btn:active {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: rgb(24, 140, 232);
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

@media screen and (max-width: 767.5px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(".././images/hero-background/mobile/hero-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 767.5px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.5px) and (min-resolution: 192dpi), screen and (max-width: 767.5px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(".././images/hero-background/mobile/hero-background@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(".././images/hero-background/tablet/hero-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(".././images/hero-background/tablet/hero-background@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(".././images/hero-background/desctop/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(".././images/hero-background/desctop/hero-background@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    color: #fff;
  }
}
.about__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about__list-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.about__list-thumb {
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
}

.about__list-discrip {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray);
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .about__list-item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .about__list-title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 47px;
  }
  .about__list-item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 1199.5px) {
  .we-do {
    display: none;
  }
}
.we-do {
  padding-top: 47px;
}
.we-do-container {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
}
.we-do-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
}
.we-do-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.we-do-list-item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}
.we-do-text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgb(47, 48, 58);
  background: linear-gradient(288deg, rgba(47, 48, 58, 0.8018557765) 50%, rgba(47, 48, 58, 0.8) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.we-do-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: rgb(245, 244, 250);
}
.team-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}
.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.team-list-item {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
}
.team-text {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-text-expert {
  font-weight: 500;
  line-height: 1.18;
  font-size: 18px;
  margin-bottom: 10px;
}
.team-text-discrip {
  line-height: 1.18;
  color: var(--gray);
  margin-bottom: 16px;
}

@media screen and (max-width: 767.5px) {
  .team-list-img {
    width: 450px;
  }
}
@media screen and (max-width: 449.5px) {
  .team-list-img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .team-list-img {
    width: 354px;
  }
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list-img {
    width: 270px;
  }
  .team-container {
    row-gap: 50px;
  }
}
.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;
}

.clients-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--brand-color);
}
.clients-list__icon {
  fill: var(--gray-svg);
  transition: fill var(--transition-dur-and-func);
}
.clients-list__item:hover .clients-list__icon, .clients-list__item:focus .clients-list__icon {
  fill: var(--brand-color);
}

@media screen and (max-width: 767.5px) {
  .clients-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .clients-title {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.btns {
  padding-bottom: 26px;
}
.btns-list {
  display: flex;
  column-gap: 8px;
  justify-content: center;
}
.btns-button {
  font-weight: 500;
  line-height: 1.62;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}
.btns-button:hover, .btns-button:focus {
  color: white;
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.portfolio {
  padding-top: 26px;
}
.portfolio-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.portfolio-list-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list-discrip {
  line-height: 1.87;
  color: var(--gray);
}
.portfolio-list-item {
  transition: box-shadow var(--transition-dur-and-func);
}
.portfolio-list-item:hover, .portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link {
  color: var(--dark);
  text-decoration: none;
}
.portfolio-border-items {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  text-align: left;
  padding: 20px 24px;
  border: 1px solid rgb(238, 238, 238);
  border-top: none;
  flex-basis: calc(100% - 60px)/3;
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(101%);
  transition: transform var(--transition-dur-and-func);
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 62px 24px;
}
.portfolio-link:hover .portfolio-overlay, .portfolio-link:focus .portfolio-overlay {
  transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */