.portfolio {
  padding-top: 26px;

 &-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    &-title {
      font-size: 18px;
      font-weight: 700;
      line-height: 2;
      letter-spacing: 0.06em;
    }
  
    &-discrip {
      line-height: 1.87;
      color: var(--gray);
    }

    &-item {
      transition: box-shadow var(--transition-dur-and-func);

      &:hover,
      &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
      }
    }
  }

    &-link {
      color: var(--dark);
      text-decoration: none;
    }

    &-border-items {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      text-align: left;

      padding: 20px 24px;
      border: 1px solid rgba(238, 238, 238, 1);
      border-top: none;

      flex-basis: calc(100% - 60px) / 3;
    }
  
  &-thumb {
    position: relative;
    overflow: hidden;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(101%);
    transition: transform var(--transition-dur-and-func);

    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;

    padding: 62px 24px;

    .portfolio-link:hover &,
    .portfolio-link:focus & {
      transform: translateY(0%);
    }
  }
}


