
.header-link {
  color: var(--dark);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);
}

.line{
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }

}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;

}

.mobile-menu-btn__icon {
  fill: black;
}
  
// -------------MOBILE---------------//

@media screen and (max-width: 767.5px) { 
  .header {
      padding-bottom: 10px;
      padding-top: 10px;

      &-tel, &-mail, &-nav {
        display: none;
      }

      &-container {
        display: flex;
        justify-content: space-between;
      }
  }

}

// ---------------TABLET---------------- //

@media screen and (min-width: 768px) {
  .mobile-menu-btn, .mobile-menu-btn {
    display: none;
  }
  
  .header {
    padding-top: 20px;
    padding-bottom: 20px;

    &-logo {
        margin-right: 86px;
      }

    &-container {
      display: flex;
      align-items: center;
    }

    &-list {
      display: flex;
      column-gap: 50px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.02em;
      justify-content: center;
    }

    &-link {
      color: var(--dark);
      font-size: 14px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.02em;

      transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func),
        border-color var(--transition-dur-and-func);
    }

    &__contacts {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      row-gap: 10px;
    }

    &-mail,
    &-tel {
      color: var(--gray);
      font-weight: 500;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.02em;

      display: flex;
      align-items: center;
      column-gap: 8px;
    }

    &-icon {
      fill: gray;
      transition: fill var(--transition-dur-and-func);
    }

    &-mail:hover &-icon,
    &-tel:hover &-icon,
    &-mail:focus &-icon,
    &-tel:focus &-icon {
      fill: var(--brand-color);
    }

    &-list-item {
      display: flex;
      justify-content: center;
      overflow: visible;
      position: relative;
    }
  }

  .current {
    color: var(--brand-color);

    &::after {
      content: '';

      position: absolute;

      display: flex;
      background-color: var(--brand-color);
      border-radius: 2px;
      height: 4px;
      width: 100%;

      margin-top: 28px;
    }
  }
}

//-------------DESCTOP-----------//

@media screen and (min-width: 1200px) {
    
  .header {
    padding-bottom: 24px;
    padding-top: 24px;

    &-logo {
      margin-right: 92px;
    }

    &-mail,
    &-tel {
      font-size: 14px;
      line-height: 1.14;
      column-gap: 10px;
    }

    &__contacts {
      flex-direction: row;
      column-gap: 30px;
      margin-left: auto;
    }
  }
}





