h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  font-style: normal;
}

.link {
  text-decoration: none;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
      color: var(--brand-color);
    }
}

button {
  cursor: pointer;
  border: none;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--dark);
  
}